<!DOCTYPE html>
<html ng-app="gestionApp">
  <head>
    <title>Gesti贸n Escolar - IPN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-gridster.min.css">
    <link rel="stylesheet" href="/styles/angular-material.min.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/master.css">
    <link rel="stylesheet" href="/styles/md-table.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools" ng-controller="LoginBarCtrl">
          <h2>
            <span ui-sref="index" style="cursor: pointer;">Gesti贸n IPN</span>
            <span ng-if="user_type == 1"> - Administrador</span>
            <span ng-if="user_type == 2"> - Alumno</span>
            <span ng-if="user_type == 3"> - Profesor</span>
          </h2>
          <span flex></span>
          <md-button class="md-raised md-primary md-hue-2" aria-label="login" ng-hide="logged" ng-click="go('login')">
            Iniciar Sesi贸n
          </md-button>
          <md-button class="md-raised md-primary md-hue-2" aria-label="logout" ng-show="logged" ng-click="go('login')">
            Cerrar Sesi贸n
          </md-button>
        </div>
      </md-toolbar>
    </md-content>
    <div class="container slide" ui-view style="overflow: hidden;"></div>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/!angular.min.js"></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-gridster.min.js"></script>
    <script src="/js/dependencies/angular-material.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-ui-router.js"></script>
    <script src="/js/dependencies/bangular-material-icons.min.js"></script>
    <script src="/js/dependencies/core-min.js"></script>
    <script src="/js/dependencies/jquery-2.2.0.min.js"></script>
    <script src="/js/dependencies/jquery.resize.js"></script>
    <script src="/js/dependencies/md5-min.js"></script>
    <script src="/js/dependencies/ngFlowGrid.js"></script>
    <script src="/js/dependencies/rtc.min.js"></script>
    <script src="/js/dependencies/sha512.js"></script>
    <script src="/js/!app.js"></script>
    <script src="/js/controllers/AddAdmin.js"></script>
    <script src="/js/controllers/AddAlumnoCtrl.js"></script>
    <script src="/js/controllers/AddAnuncioCtrl.js"></script>
    <script src="/js/controllers/AddCalificacionCtrl.js"></script>
    <script src="/js/controllers/AddClaseCtrl.js"></script>
    <script src="/js/controllers/AddDatoCtrl.js"></script>
    <script src="/js/controllers/AddExamenCtrl.js"></script>
    <script src="/js/controllers/AddGruposCtrl.js"></script>
    <script src="/js/controllers/AddHorarioCtrl.js"></script>
    <script src="/js/controllers/AddTareaCtrl.js"></script>
    <script src="/js/controllers/AddTeacherCtrl.js"></script>
    <script src="/js/controllers/AnunciosCtrl.js"></script>
    <script src="/js/controllers/CalendarioExamenesCtrl.js"></script>
    <script src="/js/controllers/CalendarioTareasCtrl.js"></script>
    <script src="/js/controllers/CalificacionesCtrl.js"></script>
    <script src="/js/controllers/ChatCtrl.js"></script>
    <script src="/js/controllers/ClasesCtrl.js"></script>
    <script src="/js/controllers/DelClaseCtrl.js"></script>
    <script src="/js/controllers/DelProfeCtrl.js"></script>
    <script src="/js/controllers/ExamenesCtrl.js"></script>
    <script src="/js/controllers/GetAnuncioCtrl.js"></script>
    <script src="/js/controllers/GetCalificacionCtrl.js"></script>
    <script src="/js/controllers/GetClasesCtrl.js"></script>
    <script src="/js/controllers/GetDatosCtrl.js"></script>
    <script src="/js/controllers/GetExamenCtrl.js"></script>
    <script src="/js/controllers/GetGruposCtrl.js"></script>
    <script src="/js/controllers/GetHorariosCtrl.js"></script>
    <script src="/js/controllers/GetTareaCtrl.js"></script>
    <script src="/js/controllers/GetUsersCtrl.js"></script>
    <script src="/js/controllers/GruposCtrl.js"></script>
    <script src="/js/controllers/HorariosCtrl.js"></script>
    <script src="/js/controllers/JoinClaseCtrl.js"></script>
    <script src="/js/controllers/LoginBarCtrl.js"></script>
    <script src="/js/controllers/LoginCtrl.js"></script>
    <script src="/js/controllers/NotasCtrl.js"></script>
    <script src="/js/controllers/RealTimeCtrl.js"></script>
    <script src="/js/controllers/SetGrupoCtrl.js"></script>
    <script src="/js/controllers/SetGrupoExamenCtrl.js"></script>
    <script src="/js/controllers/SetMateriasCtrl.js"></script>
    <script src="/js/controllers/SetProfeGrupoCtrl.js"></script>
    <script src="/js/controllers/StartClaseCtrl.js"></script>
    <script src="/js/controllers/TareasCtrl.js"></script>
    <script src="/js/controllers/TestCtrl.js"></script>
    <script src="/js/controllers/UsersCtrl.js"></script>
    <script src="/js/controllers/WatchAnuncioCtrl.js"></script>
    <script src="/js/controllers/WatchClaseCtrl.js"></script>
    <script src="/js/controllers/WeaCtrl.js"></script>
    <script src="/js/services/LoginService.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
