<div layout="row" layout-padding layout-wrap layout-fill layout-align="center center" ng-cloak>
  <md-whiteframe class="md-whiteframe-3dp" layout="column" layout-wrap layout-align="center center" layout-fill flex-sm="95" flex-gt-sm="35">
    <div flex layout-gt-sm="row" layout-align="center center">
      <span class="md-headline" flex="90">Agregar Calificación</span>
      <md-icon md-svg-icon="svg/back.svg" ng-click="goto('calificaciones')" style="cursor: pointer; margin-left: 1em;"></md-icon>
    </div>
    <div flex>
      <md-input-container style="margin-left: 1em;">
        <label>Alumno</label>
        <md-select ng-model="cali.user">
          <md-option ng-repeat="alumno in alumnos" value="{{alumno.id}}">
            {{alumno.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container>
        <label>Materia</label>
        <md-select ng-model="cali.materia">
          <md-option ng-repeat="materia in materias" value="{{materia.id}}">
            {{materia.nombre}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container>
        <label>Parcial</label>
        <md-select ng-model="cali.parcial">
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container>
        <label>Calificación</label>
        <md-select ng-model="cali.value">
          <md-option ng-repeat="val in values" value="{{val.valor}}">
            {{val.valor}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-button class="md-raised md-primary" ng-click="addCali()">Añadir calificación</md-button>
    </div>
  </md-whiteframe>
</div>
