<div layout-gt-sm="row" layout-sm="column" layout-align="center center" layout-padding layout-wrap>
  <div class="md-whiteframe-1dp" flex="50" layout="row" layout-align="center center">
    <h4>{{errorMsg}}</h4>
    <md-progress-circular md-mode="indeterminate" ng-if="!errorMsg"></md-progress-circular>
  </div>
  <div class="md-whiteframe-2dp anuncio" ng-repeat="tarea in tareas | orderBy:tarea.createdAt" style="margin: 1em;" flex-gt-sm="30">
    <span><strong>{{tarea.titulo}}</strong> | Entrega: {{tarea.entrega | date}}</span>
    <p>{{tarea.texto}}</p>
  </div>
</div>
