<div ng-cloak>
  <md-list>
    <md-subheader class="md-no-sticky" layout="column">
      <span class="md-title">Gestión de exámenes</span>
      <span flex></span>
      <md-button class="md-raised" ng-click="goto('index')">Regresar</md-button>
    </md-subheader>
    <md-list-item class="md-3-line" ng-click="goto('addexamen')">
      <img ng-src="svg/add.svg" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3>Agregar exámen</h3>
        <p>Registrar exámen en el sistema</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item class="md-3-line" ng-click="goto('getexamen')">
      <img ng-src="svg/book-open.svg" class="md-avatar" />
      <div class="md-list-item-text" layout="column">
        <h3>Consultar exámenes</h3>
        <p>Obtener información y buscar exámenes</p>
      </div>
    </md-list-item>
</div>
