<div class="" layout="row" layout-padding layout-wrap layout-fill layout-align="center center">
  <md-whiteframe class="md-whiteframe-3dp" layout="column" layout-wrap layout-align="center" layout-fill flex-sm="95" flex-gt-sm="60">
    <md-list>
      <md-subheader>
        <md-icon md-svg-icon="svg/back.svg" ng-click="goto('examenes')" style="cursor: pointer; margin-right: 1em;"></md-icon>
        <span>Exámenes</span>
        <md-input-container style="margin-left: 1em;">
          <label>Filtrar por materia</label>
          <input type="text" ng-model="searchText">
        </md-input-container>
      </md-subheader>
      <md-list-item layout="row" layout-align="center center" ng-show="!examenes.length">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </md-list-item>
      <md-list-item class="md-3-line animateLeave" ng-repeat="examen in examenes | filter:searchText">
        <md-icon md-svg-icon="svg/book-open.svg" class="md-avatar-icon"></md-icon>
        <div class="md-list-item-text">
          <h3 class="md-body-2"><strong>Materia: </strong>{{examen.materia.nombre}}</h3>
          <h4>Fecha: {{examen.fecha | date}} | Hora: {{examen.hora}} | Semestre: {{examen.materia.semestre}}</h4>
        </div>
        <md-icon md-svg-icon="svg/remove.svg" class="md-secondary md-primary" style="cursor: pointer" ng-click="removeExamen(examen.id)" aria-label="remove"></md-icon>
      </md-list-item>
    </md-list>
  </md-whiteframe>
</div>
