<div layout-gt-xs="row" layout-xs="column" layout-padding layout-wrap layout-align="center center" ng-cloak class="container-padding">
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="users" style="cursor: pointer">
    <div flex="100">
      <h3>Usuarios</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #1976D2;">
        <md-icon md-svg-src="svg/account.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar de cuentas usuarios
      </p>
    </div>
  </md-whiteframe>
  <!-- Profesores -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Profesores</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #7CB342;">
        <md-icon md-svg-src="svg/teacher.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Asignar profesores a horarios
      </p>
    </div>
  </md-whiteframe>
  <!-- Horarios -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Horarios y clases</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #FFA000;">
        <md-icon md-svg-src="svg/calendar.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar horarios y clases
      </p>
    </div>
  </md-whiteframe>
  <!-- Clases online -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Clases Online</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #E64A19;">
        <md-icon md-svg-src="svg/streamings.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar transmisiones en vivo
      </p>
    </div>
  </md-whiteframe>
  <!-- Exámenes -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Exámenes</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #546E7A;">
        <md-icon md-svg-src="svg/book-open.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar exámenes
      </p>
    </div>
  </md-whiteframe>
  <!-- Anuncios -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Anuncios</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #AFB42B;">
        <md-icon md-svg-src="svg/bell.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Anuncios, boletines, información
      </p>
    </div>
  </md-whiteframe>
  <!-- Tareas -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Tareas</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #00897B;">
        <md-icon md-svg-src="svg/book-multiple.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar tareas
      </p>
    </div>
  </md-whiteframe>
  <!-- Reportes -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Reportes</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #5E35B1;">
        <md-icon md-svg-src="svg/chart-areaspline.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Ver, imprimir información
      </p>
    </div>
  </md-whiteframe>
  <!-- Calificaiones -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="login" style="cursor: pointer">
    <div flex="100">
      <h3>Calificaciones</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #D81B60;">
        <md-icon md-svg-src="svg/clipboard-alert.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar calificaciones
      </p>
    </div>
  </md-whiteframe>
</div>
