<div layout-gt-xs="row" layout-xs="column" layout-padding layout-wrap layout-align="center center" ng-cloak class="container-padding">
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="users" style="cursor: pointer">
    <div flex="100">
      <h3>Usuarios</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #1976D2;">
        <md-icon md-svg-src="svg/account.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar de cuentas usuarios
      </p>
    </div>
  </md-whiteframe>
  <!-- Grupos -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="grupos" style="cursor: pointer">
    <div flex="100">
      <h3>Grupos</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: rgb(213, 21, 21);">
        <md-icon md-svg-src="svg/account-multiple.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar de grupos
      </p>
    </div>
  </md-whiteframe>
  <!-- Horarios -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="horarios" style="cursor: pointer">
    <div flex="100">
      <h3>Horarios y clases</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #FFA000;">
        <md-icon md-svg-src="svg/calendar.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar horarios y clases
      </p>
    </div>
  </md-whiteframe>
  <!-- Profesores -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="startclase" style="cursor: pointer">
    <div flex="100">
      <h3>Iniciar clase online</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #7CB342;">
        <md-icon md-svg-src="svg/book-multiple-variant.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Empezar transmisión en vivo
      </p>
    </div>
  </md-whiteframe>
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="joinclase" style="cursor: pointer">
    <div flex="100">
      <h3>Unirse a clase online</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #7CB342;">
        <md-icon md-svg-src="svg/book-plus.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Participar en una clase
      </p>
    </div>
  </md-whiteframe>
  <!-- Clases online -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="clases" style="cursor: pointer">
    <div flex="100">
      <h3>Clases Online</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #E64A19;">
        <md-icon md-svg-src="svg/streamings.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar transmisiones en vivo
      </p>
    </div>
  </md-whiteframe>
  <!-- Exámenes -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="examenes" style="cursor: pointer">
    <div flex="100">
      <h3>Exámenes</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #546E7A;">
        <md-icon md-svg-src="svg/book-open.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar exámenes
      </p>
    </div>
  </md-whiteframe>
  <!-- Calendario de examenes -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="calendarioexamenes" style="cursor: pointer">
    <div flex="100">
      <h3>Calendario de exámenes</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #5e5fcc;">
        <md-icon md-svg-src="svg/book-open.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Calendario de evaluaciones
      </p>
    </div>
  </md-whiteframe>
  <!-- Anuncios -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="anuncios" style="cursor: pointer">
    <div flex="100">
      <h3>Anuncios</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #AFB42B;">
        <md-icon md-svg-src="svg/bell.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Anuncios, boletines, información
      </p>
    </div>
  </md-whiteframe>
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="watchanuncio" style="cursor: pointer">
    <div flex="100">
      <h3>Tablon de anuncios</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #6cc778;">
        <md-icon md-svg-src="svg/bell.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Consultar información de anuncios
      </p>
    </div>
  </md-whiteframe>
  <!-- Tareas -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="tareas" style="cursor: pointer">
    <div flex="100">
      <h3>Tareas</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #00897B;">
        <md-icon md-svg-src="svg/book-multiple.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar tareas
      </p>
    </div>
  </md-whiteframe>
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="calendariotareas" style="cursor: pointer">
    <div flex="100">
      <h3>Calendario de tareas</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #4f991b;">
        <md-icon md-svg-src="svg/book-multiple.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Calendario de evaluaciones
      </p>
    </div>
  </md-whiteframe>
  <!-- Calificaiones -->
  <md-whiteframe layout="column" layout-align="center center" class="md-whiteframe-3dp container-margin animated zoomIn" flex-xs="95" flex-gt-xs="20" ui-sref="calificaciones" style="cursor: pointer">
    <div flex="100">
      <h3>Calificaciones</h3>
    </div>
    <div flex="100">
      <md-button class="md-fab" aria-label="Eat cake" style="height: 70px; width: 70px; background-color: #D81B60;">
        <md-icon md-svg-src="svg/clipboard-alert.svg" style="height: 50px; width: 50px;"></md-icon>
      </md-button>
    </div>
    <div flex="100">
      <p>
        Gestionar calificaciones
      </p>
    </div>
  </md-whiteframe>
</div>
