<div ng-cloak>
    <md-list>
      <md-subheader class="md-no-sticky" layout="column">
        <span class="md-title">Gestión de usuarios</span>
        <span flex></span>
        <md-button class="md-raised" ng-click="goto('index')">Regresar</md-button>
      </md-subheader>
      <md-list-item class="md-3-line" ng-click="goto('addteacher')">
        <img ng-src="svg/add.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Agregar profesor</h3>
          <p>Registrar profesor en el sistema</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="goto('addalumno')">
        <img ng-src="svg/add-user.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Agregar alumno</h3>
          <p>Registrar usuario de tipo alumno</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="goto('addadmin')">
        <img ng-src="svg/account-key.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Agregar adminstrador</h3>
          <p>Registrar cuenta de administrador</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="goto('getusers')">
        <img ng-src="svg/account-multiple.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Consultar usuarios</h3>
          <p>Consultar usuarios de diferentes tipos, hacer búsquedas especificas con éstos mismos.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="goto('adddato')">
        <img ng-src="svg/account-card-details.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Agregar Datos</h3>
          <p>Añadir datos adicionales a los registros de usuarios.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="goto('getdatos')">
        <img ng-src="svg/archive.svg" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>Consultar datos</h3>
          <p>Visualizar datos segun el usuario deseado.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
</div>
