<div layout="row" layout-padding layout-wrap layout-fill layout-align="center center" ng-cloak>
  <md-whiteframe class="md-whiteframe-3dp" layout="column" layout-wrap layout-align="start center" layout-fill flex-sm="100" flex-gt-sm="75">
    <div id="camaraLocal" layout-sm="column" layout-gt-sm="row" layout-wrap flex-sm="100" flex-gt-sm="50"></div>
    <div id="camaraRemota" layout-sm="column" layout-gt-sm="row" layout-wrap flex-sm="100" flex-gt-sm="25"></div>
    <div id="local"></div>
  </md-whiteframe>
  <md-whiteframe class="md-whiteframe-3dp" layout="column" layout-wrap layout-align="start center" layout-fill flex>
    <h2>Chat</h2>
    <div id="chat"></div>
  </md-whiteframe>
</div>
